@charset "utf-8";
// 长度单位
$px: 0.05rem;
// 基本颜色
$white: #FFFFFF;
$gray: #999999;
$dark: #333333;
$black: #000000;
$mainColor: #028bff;
$lineColor: #d1d1d1;
$placeholderColor: #dcdcdc;
// 基本布局
$maxWidth: 640px;
$mainWidth: 93.75%;
$headerHeight: 2.2rem;
$gapWidth: 3.125%;
$btnWidth: 81.25%;
$iconWidth: 1rem;
$iconHeight: 1rem;
$tagWidth: 1.6rem;
$tagHeight: 1rem;
// mui-popup模块
$muiPopupBtnText: #028bff;
