@charset "utf-8";

@import './base/common';

// flex上下结构
.flex-box {
    @extend %box;
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    .flex-item {
        @extend %sonBox;
    }
    .flex-full{
        flex: 1;
    }
}