@charset "utf-8";

.mui-popup-backdrop {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    opacity: 0;
    background: rgba(0, 0, 0, .4)
}

.mui-popup-backdrop.mui-active {
    opacity: 1
}

.mui-popup {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: $px * 270;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
    transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;
    opacity: 0;
    color: $black;
    border-radius: $px * 13;
}

.mui-popup.mui-popup-in {
    display: block;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1
}

.mui-popup.mui-popup-out {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 0
}

.mui-popup-inner {
    position: relative;
    padding: $px * 15;
    border-radius: $px * 13 $px * 13 0 0;
    background: rgba(255, 255, 255, .95)
}

.mui-popup-inner:after {
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $px * 1;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: rgba(0, 0, 0, .2)
}

.mui-popup-title {
    font-size: $px * 16;
    font-weight: 500;
    text-align: center
}

.mui-popup-title+.mui-popup-text {
    font-family: inherit;
    font-size: $px * 14;
    margin: $px *5 0 0;
    .tips{
        font-size: $px * 14;
        color: $muiPopupBtnText;
    }
}

.mui-popup-buttons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: $px * 44;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.mui-popup-button {
    font-size: $px * 14;
    line-height: $px * 44;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: $px * 44;
    padding: 0 $px * 5;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $muiPopupBtnText;
    background: rgba(255, 255, 255, .95);
    -webkit-box-flex: 1;
}

.mui-popup-button:after {
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    display: block;
    width: $px * 1;
    height: 100%;
    content: '';
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    background-color: rgba(0, 0, 0, .2)
}

.mui-popup-button:first-child {
    border-radius: 0 0 0 $px * 13
}

.mui-popup-button:first-child:last-child {
    border-radius: 0 0 $px * 13 $px * 13
}

.mui-popup-button:last-child {
    border-radius: 0 0 $px * 13
}

.mui-popup-button:last-child:after {
    display: none
}

.mui-popup-button.mui-popup-button-bold {
    //font-weight: 600
}

.mui-popup-input input {
    font-size: $px * 14;
    width: 100%;
    height: $px * 26;
    margin: $px * 15 0 0;
    padding: 0 $px * 5;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0;
    background: $white;
}

.mui-plus.mui-android .mui-popup-backdrop {
    -webkit-transition-duration: 1ms;
    transition-duration: 1ms
}

.mui-plus.mui-android .mui-popup {
    -webkit-transition-duration: 1ms;
    transition-duration: 1ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1)
}